@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @Model.CurrentUser.Id
    </h1>
    <p>Oldest song on record: @Model.oldestSong.TrackId - @Model.oldestSong.TimeOfPlay</p>
    <p>Most played song on record: @Model.mostPlayedSong.trackId - @Model.mostPlayedSong.plays</p>
</div>
