@using Gavinhow.SpotifyStatistics.Api

@model HomeViewModel
@inject SpotifyApiFacade SpotifyApiFacade
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @(Model.CurrentUser.DisplayName ?? Model.CurrentUser.Id)
    </h1>
    @if (Model.HasPlays)
    {
        <p>Oldest song on record: @Model.OldestSong.TrackId - @Model.OldestSong.TimeOfPlay</p>
        <p>Most played song on record: @Model.MostPlayedSongs[0].track.Name - @Model.MostPlayedSongs[0].plays</p>
        <div>
            <div class="top-songs">
                <h3>Top 10 most played songs <span class="hint">(since @Model.OldestSong.TimeOfPlay)</span></h3>
                <div>
                    @foreach (var song in Model.MostPlayedSongs)
                    {
                        <p>@song.track.Name - @string.Join(", ", song.track.Artists.Select(artist => artist.Name)) : @song.plays</p>
                    }
                </div>
            </div>
            <div class=top-artists>
                <h3>Top 10 most played artists <span class="hint">(total play count: @Model.TotalPlayCount)</span></h3>
                
                <div>
                    @foreach (var artist in Model.MostPlayedArtists)
                    {
                        <p>@artist.artist.Name : @artist.plays</p>
                    }
                </div>
            </div>
            <div class="top-songs">
                <h3>Top 10 most played songs last month <span class="hint">(play count: @Model.LastMonthPlayCount)</span></h3>
                <div>
                    @foreach (var song in Model.LastMonthMostPlayedSongs)
                    {
                        <p>@song.track.Name - @string.Join(", ", song.track.Artists.Select(artist => artist.Name)) : @song.plays</p>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Start listening on spotfy and we will have some statistics for you soon</p>
    }
</div>
