@using Gavinhow.SpotifyStatistics.Api

@model HomeViewModel
@inject SpotifyApi spotifyApi
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome @Model.CurrentUser.Id
    </h1>
    @if (Model.hasPlays)
    {
        <p>Oldest song on record: @Model._oldestSong.TrackId - @Model._oldestSong.TimeOfPlay</p>
        <p>Most played song on record: @Model._mostPlayedSong.track.Name - @Model._mostPlayedSong.plays</p>
    } else {
        <p>Start listening on spotfy and we will have some statistics for you soon</p>
    }
</div>
